*{
  text-align: center;
}

.card{
  background-color: rgb(34, 73, 73);
  margin: 9px;
  width: 300px;
  border: solid black 2px;
  border-radius: 9px;
  color: rgba(255, 255, 255, 0.678);
}

.content{
  display: flex;
  justify-content: center;
}

